@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Darker+Grotesque:wght@300..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FBF0D3;
  --color-primary-dark: #AEA790;
  --color-dark: #12141D;
  --color-secondary-dark: #352550;
  --color-secondary: #8A47F6;
  --color-secondary-light: #8038F4;
  --font-title: 'Barlow Condensed', sans-serif;
  --font-body: 'Darker Grotesque', sans-serif;
  --spacing-mob: 1rem;
  --spacing-tab: 2rem;
  --spacing-desk: 9.375rem;
  --spacing-desk-xl: 12.5rem;

  --animate-scroll: techScroll 40s linear infinite forwards;

  @keyframes techScroll {
    0% {
      transform: translateX(0);
    }

    /* (direction * count * width + gap * 2) */
    100% {
      transform: translateX(-50%);
    }
  }

}

.spikes {
  position: relative;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 16px;
  background-size: 10px 100%;
  background-image: linear-gradient(135deg, var(--color-primary) 25%, transparent 25%), linear-gradient(225deg, var(--color-primary) 25%, transparent 25%);
  background-position: 0 0;
}