@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Darker+Grotesque:wght@300..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FBF0D3;
  --color-primary-dark: #AEA790;
  --color-dark: #12141D;
  --color-secondary-dark: #352550;
  --color-secondary: #8A47F6;
  --color-secondary-light: #8038F4;
  --font-title: 'Barlow Condensed', sans-serif;
  --font-body: 'Darker Grotesque', sans-serif;
  --spacing-mob: 1rem;
  --spacing-tab: 2rem;
  --spacing-desk: 9.375rem;
  --spacing-desk-xl: 12.5rem;

  --animate-scroll: techScroll 40s linear infinite forwards;

  @keyframes techScroll {
    0% {
      transform: translateX(0);
    }

    /* (direction * count * width + gap * 2) */
    100% {
      transform: translateX(-50%);
    }
  }

}

.clip-styled-bg {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.curve .animSvg, .curve .animBg {
  width: 100vw;
  height: calc(100vh + 600px);
  top: -300px;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 20;
}

.animBg{
  background-color: var(--color-dark);
}